* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", Roboto, Arial, sans-serif;

  background: url("../public/assets/images/background-pattern-desktop.svg")
      no-repeat top center,
    hsl(275, 100%, 97%);

  background-color: hsl(275, 100%, 97%);
  color: #333;
  line-height: 1.6;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  background-color: hsl(0, 100%, 100%);
  padding: 10px 20px;
  max-width: 700px;
  border-radius: 12px;

  
}

.faq-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.star-icon {
  width: 30px;
  height: 30px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 0 0.8rem 0;
  /* padding: 1rem 1.2rem; */
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  transition: background 0.2s ease;
  color: hsl(292, 43%, 14%);
}

.item:hover {
  color: hsl(292, 16%, 49%);
}

.open {
  max-width: fit-content;
}

@media (max-width: 480px) {
  body {
    background: url("../public/assets/images/background-pattern-mobile.svg")
        no-repeat top center,
      hsl(275, 100%, 97%);
    background-size: contain;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .faq-header h1 {
    font-size: 1.4rem;
  }

  .container {
    margin-top: -120px;
    padding: 1.2rem;
    width: fit-content;
  }

  .title {
    font-size: 0.95rem;
  }

  .content-box {
    font-size: 0.9rem;
  }
}
